{# templates/user/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}
    <h1>Modifier Utilisateur</h1>

    <div class="form-container">
        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}