{# templates/user/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Utilisateur</h1>

    <div class="form-container">
        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
