{% extends 'base.html.twig' %}

{% block title %}Edit TypeReception{% endblock %}

{% block body %}
    <h1>Edit TypeReception</h1>

    {{ include('type_reception/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_reception_index') }}" >back to list</a>

    {{ include('type_reception/_delete_form.html.twig') }}
{% endblock %}
