{% extends 'base.html.twig' %}

{% block title %}New TypeReception{% endblock %}

{% block body %}
    <h1>Create new TypeReception</h1>

    {{ include('type_reception/_form.html.twig') }}

    <a href="{{ path('app_type_reception_index') }}">back to list</a>
{% endblock %}
