<form method="post" action="{{ path('app_capitaine_delete', {'id': capitaine.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce capitaine ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ capitaine.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
