{% extends 'base.html.twig' %}

{% block title %}Modifier Capitaine{% endblock %}

{% block body %}
    <h1>Modifier Capitaine</h1>

    {{ include('capitaine/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_capitaine_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>

    {{ include('capitaine/_delete_form.html.twig') }}
{% endblock %}
