{% extends 'base.html.twig' %}

{% block title %}Modifier Capitaine{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Modifier le capitaine</h1>

        {{ include('capitaine/_form.html.twig', { button_label: 'Mettre à jour' }) }}

        <div class="capitaine-actions mt-3">
            <div class="row">
                <div class="col">
                    <a href="{{ path('app_capitaine_index') }}" class="btn btn-secondary">
                        <i class="fas fa-list"></i> Retour à la liste
                    </a>
                </div>
                <div class="col text-right">
                    {{ include('capitaine/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}