{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Capitaine{% endblock %}

{% block body %}
    <h1>Créer un nouveau Capitaine</h1>

    {{ include('capitaine/_form.html.twig') }}

    <a href="{{ path('app_capitaine_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
