{% extends 'base.html.twig' %}

{% block title %}New Capitaine{% endblock %}

{% block body %}
    <h1>Create new Capitaine</h1>

    {{ include('capitaine/_form.html.twig') }}

    <a href="{{ path('app_capitaine_index') }}">back to list</a>
{% endblock %}
