{% extends 'base.html.twig' %}

{% block title %}Nouveau Capitaine{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Créer un nouveau capitaine</h1>

        {{ include('capitaine/_form.html.twig') }}

        <div class="capitaine-actions mt-3">
            <a href="{{ path('app_capitaine_index') }}" class="btn btn-secondary">
                <i class="fas fa-list"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}