{% extends 'base.html.twig' %}

{% block title %}Modifier une Équipe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Modifier l'équipe</h1>

        {{ include('equipe/_form.html.twig', { is_edit: true }) }}

        <div class="equipe-actions mt-3">
            <div class="row">
                <div class="col">
                    <a href="{{ path('app_equipe_index') }}" class="btn btn-secondary">
                        <i class="fas fa-list"></i> Retour à la liste
                    </a>
                </div>
                <div class="col text-right">
                    {{ include('equipe/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}