{% extends 'base.html.twig' %}

{% block body %}
    <h1> Modifier une équipe</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary"> 'Mettre à jour'</button>
    {{ form_end(form) }}
{% endblock %}