{% extends 'base.html.twig' %}

{% block title %}Nouvelle Équipe{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Créer une nouvelle équipe</h1>

        {{ include('equipe/_form.html.twig') }}

        <div class="equipe-actions mt-3">
            <a href="{{ path('app_equipe_index') }}" class="btn btn-secondary">
                <i class="fas fa-list"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}