<form method="post" action="{{ path('app_reception_delete', {'id': reception.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette réception ?')">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reception.id) }}">
    <button class="btn btn-danger btn-delete">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</form>