{# templates/reception/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier Réception{% endblock %}

{% block body %}
    <h1>Modifier Réception</h1>

    <div class="form-container">
        {{ include('reception/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
