{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réception{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Créer une nouvelle réception</h1>

        {{ include('reception/_form.html.twig') }}

        <div class="reception-actions mt-3">
            <a href="{{ path('app_reception_index') }}" class="btn btn-secondary">
                <i class="fas fa-list"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}