{# templates/reception/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Réception{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Réception</h1>

    <div class="form-container">
        {{ include('reception/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}