{{ form_start(form, {'attr': {'class': 'joueur-form'}}) }}
<div class="form-group">
    {{ form_widget(form) }}
</div>
<div class="joueur-actions">
    <button class="btn btn-success btn-create">
        <i class="fas fa-save"></i> {{ button_label|default('Enregistrer') }}
    </button>
</div>
{{ form_end(form) }}