{% extends 'base.html.twig' %}

{% block title %}Nouveau Joueur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Créer un nouveau joueur</h1>

        {{ include('joueur/_form.html.twig') }}

        <div class="joueur-actions mt-3">
            <a href="{{ path('app_joueur_index') }}" class="btn btn-secondary">
                <i class="fas fa-list"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}