{# templates/partial/admin_menu.html.twig #}
{{ encore_entry_link_tags('sidebar') }}

<nav class="navbar">
    <h1 class="navbar__title">devWebBadminton</h1>
    <ul class="navbar__menu">
        {% for menuItem in menuItems %}
            <li class="navbar__item">
                <a href="{{ menuItem.url }}" class="navbar__link">
                    <i class="{{ menuItem.icon}}"></i><span>{{ menuItem.label }}</span>
                </a>
            </li>
        {% endfor %}

    </ul>
</nav>