{{ form_start(formClub, {'attr': {'class': 'club-form'}}) }}
<div class="form-group">
    {{ form_widget(formClub) }}
</div>
<div class="club-actions">
    <button class="btn btn-success btn-create">
        <i class="fas fa-save"></i> {{ button_label|default('Enregistrer') }}
    </button>
</div>
{{ form_end(formClub) }}