{% extends 'base.html.twig' %}

{% block title %}Modifier Club{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Modifier Club</h1>

        {{ include('club/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="club-actions mt-3">
            <a href="{{ path('app_club_index') }}" class="btn btn-secondary">
                <i class="fas fa-list"></i> Retour à la liste
            </a>
            {{ include('club/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}